.footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 98.5%;
    height: 2.5rem;
    margin: 2px;

    border-top: 1px solid $text-lighter;
    
    p {
        font-size: 0.6rem;
        color: $text-lighter;
    }
}

.left-info {
    text-align: left;
}

.right-info {
    text-align: right;
}