.image-text-wrapper {
    text-align: right;
}

.image-info {
    h3 {
        font-family: $font-serif;
        font-style: italic;
        font-size: 0.9rem;
    }

    .info-line {
        text-align: right;
        font-size: 0.5rem;
    }
}

.image-text {
    font-family: $font-serif;

    p {
        font-size: 0.6rem;
        font-family: $font-brand;
    }
}